h1{
  text-align: center;
  font-size: 48px;
  }
h2{
  text-align: center;
  font-size: 48px;
  }
img{
  text-align: center;
}
h1{
  font-style: italic;
}
ul{
  font-style: italic;
}
.intro{
  font-family: sans-serif;
  font-size: 24px;
}
.back{
  font-family:sans-serif;
  font-size: 24px;

}
.education{
  font-family:sans-serif;
  font-size: 24px;
}
.moringa{
  font-family: sans-serif;
  font-size: 24px;

}
.skills{
  font-family: sans-serif;
  font-size: 24px;
}
.summ{
  font-family: sans-serif;
  font-size: 24px;
}
body{
  background: url("images/walrus.jpg");

}
p,h1,h2{
  color: white;
  font-style: italic;
}
strong{
  color: red;
}
.me:hover{
  opacity: 0.5;
  color: black;
}
